{{define "base"}}
<!doctype html>
<html lang='en'> <head>
<meta charset='utf-8'>
<title>{{template "title" .}} - Products</title>
<link rel='stylesheet' href='/static/css/main.css'>
<link rel='shortcut icon' href='/static/img/icon.png' type='image/x-icon'>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>
<body>
<header>
<h1 style="font-size: 50px;"><img style="width:50px" src="/static/img/icon.png">The Lego World</h1>
</header> <nav>
<div>
<a href='/'>Home</a>
{{if .IsAuthenticated}}
<a href='/product/create'>Create snippet</a>
{{end}}
</div>
<div>
{{if .IsAuthenticated}}
<form action='/user/logout' method='POST'>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
<button>Logout</button>
</form>
{{else}}
<a href='/user/signup'>Signup</a>
<a href='/user/login'>Login</a>
{{end}}
</div>
</nav>


<main>
{{with .Flash}}
<div class='flash '>{{.}}</div> {{end}}
{{template "main" .}}
</main>
{{template "footer" .}}
<script src="/static/js/main.js" type="text/javascript"></script>
</body> </html>
{{end}}
