{{template "base" .}}
{{define "title"}}Snippet #{{.Product.ID}}{{end}}
{{define "main"}}
{{with .Product}}
<div class='snippet'>
<div class='metadata'>
<strong>{{.Name}}</strong>
<span>#{{.ID}}</span>
</div>
<pre><code>{{.Description}}</code></pre>
{{end}}
{{end}}